.carousel {
  margin: 0px auto;
}
.carousel-inner {
  height: 304px;
  border-radius: 20px;
}
.carousel .thumb-wrapper {
  background: rgb(208, 124, 124);
  border-radius: 6px;
  text-align: center;
  position: relative;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
}
.carousel-control-prev,
.carousel-control-next {
  height: 44px;
  width: 40px;
  background: #85897d;
  margin: auto 0;
  border-radius: 100%;
  opacity: 0.8;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background: #76796f;
  opacity: 1;
}
.carousel-control-prev i,
.carousel-control-next i {
  font-size: 36px;
  position: absolute;
  top: 50%;
  display: inline-block;
  margin: -19px 0 0 0;
  z-index: 5;
  left: 0;
  right: 0;
  color: #fff;
  text-shadow: none;
  font-weight: bold;
}
.carousel-control-prev i {
  margin-left: -2px;
}
.carousel-control-next i {
  margin-right: -4px;
}
